body {
    background-color: #f0f0f0f0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 0;
}
h2 {
    position: relative;
    margin: 20px;
    font-size: 50px;
    color:rgba(20, 20, 20, 0.934);
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 20px;
    padding: 20px;
    border-radius: 2px solid black;
    background-color: #ffffff;
}
.container {
    background: linear-gradient(to bottom, white 0%, black 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0);
    margin: 20px;
    padding: 20px;
}
label {
    margin-bottom: 10px;
    font-size: 40px;
    display: inline-block;
    width: 200px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
label img {
    width: 39px;
}
input {
    margin-bottom: 20px;
    width:200px;
    bottom: 56px;
    border-radius: 50px;
    background-color: #000;
    color: white;
    width: 50%;
    height: 9%;
    text-align: center;
    cursor: pointer;

}
button {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color:bisque; 
    color: #000000;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    transition: transform 0.1s ease-in-out;
}
button:active {
    animation: shake 0.1s ease-in-out infinite;
}

@keyframes shake {
    0% {transform: translateX(0);}
    25% {transform: translateX(-5px);}
    50% {transform: translateX(5px);}
    75% {transform: translateX(-5px);}
    100% {transform: translateX(0);}
}
.form-group {
    background: linear-gradient(to bottom, white 0%, black 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0);
    margin: 20px;
    padding: 20px;
}
p {
    font-family:fantasy;
    font-size: 30px;
    color:darksalmon;
}
p a:hover {
    color:cyan;
    text-decoration: none;
}
p a {
    text-decoration: none;
    color:indigo
}